{% extends 'base.html'  %}
{% load static %}
{% block title  %}规范总览{% endblock  %}

{% block css %}
     <link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        规范总览
        <small>attachments list</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">规范总览</li>
      </ol>
    </section>
{% endblock %}

{% block content %}

   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

        <div class="box">
        <div class="box-header">
          <h3 class="box-title">规范总览<small>(所有规范)</small></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <table id="assets_table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>类别</th>
                        <th>所在盒子</th>
                        <th>规范标准名称</th>
                        <th>标准编号</th>
                        <th>更新情况</th>
                        <th>备注</th>
                        <th>下载</th>
                    </tr>
                </thead>
                <tbody>

                {% for attachment in attachments %}
{#                    <li>#}
{#                        <span><i class="aui-iconfont aui-icon-file"></i>&nbsp;&nbsp;{{ attachment.name }}</span>#}
{#                        <a href="{{ attachment.file }}" class="downcode" target="_blank" download="" data-id="274" title="">下载</a>#}
{#                    <li>#}

                    <tr>
                        <td>{{ forloop.counter }}</td>

                        <td>{{ attachment.get_standard_type_display }}</td>

                        <td>{{ attachment.get_box_type_display }}</td>

                        <td>{{ attachment.name }}</td>

                        <td>{{ attachment.standard_ID }}</td>

                        {% if attachment.update_type == "status_1" %}
                          <td class="text-green text-bold">{{ attachment.get_update_type_display }}</td>
                        {% elif attachment.update_type == "status_2" %}
                          <td class="text-orange text-bold">{{ attachment.get_update_type_display }}</td>
                        {% elif attachment.update_type == "status_3" %}
                          <td class="text-red text-bold">{{ attachment.get_update_type_display }}</td>
                        {% endif %}

                        <td>{{ attachment.memo }}</td>
                        <td>
                            <span><i class="aui-iconfont aui-icon-file"></i>&nbsp;&nbsp;</span>
                            <a href="{{ attachment.file }}" class="downcode" target="_blank" download="" data-id="" title="">下载</a>
                        <td>
                    </tr>


                {% empty %}
                <tr>没有数据</tr>
                {% endfor %}

                </tbody>
                <tfoot>
                    <tr>
                        <th>序号</th>
                        <th>类别</th>
                        <th>所在盒子</th>
                        <th>规范标准名称</th>
                        <th>标准编号</th>
                        <th>更新情况</th>
                        <th>备注</th>
                        <th>下载</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
        </div>
    <!-- /.col -->
      </div>
    <!-- /.row -->
    </section>

{% endblock %}

{% block script %}

<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script>

$(function () {
        $('#assets_table').DataTable({
          "paging": true,       <!-- 允许分页 -->
          "lengthChange": true, <!-- 允许改变每页显示的行数 -->
          "searching": true,    <!-- 允许内容搜索 -->
          "ordering": true,     <!-- 允许排序 -->
          "info": true,         <!-- 显示信息 -->
          "autoWidth": false    <!-- 固定宽度 -->
        });
      });

</script>

{% endblock %}
